// Reset & Base
@use '../abstracts/variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    color: $text-primary;
    background: $bg-gray-50;
    line-height: 1.6;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color $transition-base;
    
    &:hover {
        color: $primary-dark;
    }
}

button {
    font-family: inherit;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

